In [1]:
#try to create list
l=[1,2,3,4,5,"varsha",45,54,True]
l[0]

1

In [3]:
l[-1]

True

In [5]:
#How many elements inside the list? (like total num)
len(l)

9

In [6]:
#Create start from index 0 and end with 5 (slicing operation)
l[0:5]

[1, 2, 3, 4, 5]

In [7]:
#If the entire list is reversed,
l[::-1]

[True, 54, 45, 'varsha', 5, 4, 3, 2, 1]

In [8]:
#If we try to add list & string,
l+"sudha"

<class 'TypeError'>: can only concatenate list (not "str") to list

In [9]:
l+["sudha"]

[1, 2, 3, 4, 5, 'varsha', 45, 54, True, 'sudha']

In [10]:
#double element
l*2

[1, 2, 3, 4, 5, 'varsha', 45, 54, True, 1, 2, 3, 4, 5, 'varsha', 45, 54, True]

In [11]:
#if we want to search any element inside the list,
60 in l

False

In [12]:
2 in l

True

In [14]:
#Maximum & Minimum
l1 = [1,2,3,4,5,6]
max(l1)

6

In [15]:
min(l1)

1

In [16]:
#string value based on the alphatical order
l2=["sudha","varsha","anu"]
max(l2)

'varsha'

In [17]:
min(l2)

'anu'

In [18]:
#append
l.append("anu")
l

[1, 2, 3, 4, 5, 'varsha', 45, 54, True, 'anu']

In [20]:
l.append([1,2,3,4,5])
l

[1, 2, 3, 4, 5, 'varsha', 45, 54, True, 'anu', [1, 2, 3, 4, 5]]

In [22]:
#pop
l.pop(0)
l

[2, 3, 4, 5, 'varsha', 45, 54, True, 'anu', [1, 2, 3, 4, 5]]

In [23]:
#reverse
l.reverse()
l

[[1, 2, 3, 4, 5], 'anu', True, 54, 45, 'varsha', 5, 4, 3, 2]

In [27]:
#sort
l3 = [8,98,34,23,1,0]
l3.sort()
l3

[0, 1, 8, 23, 34, 98]

In [29]:
l3.sort(reverse=True)
l3

[98, 34, 23, 8, 1, 0]

In [33]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
l4=[l1,l2,l3]
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [34]:
#can you try to extract 8 inside the list l4
l4[2][1]

8

In [38]:
#count
l

[[1, 2, 3, 4, 5], 'anu', True, 54, 45, 'varsha', 5, 4, 3, 2]

In [39]:
l.count(2)

1

In [40]:
l5=[3,2,3,4,3,3]
l5.count(3)

4

In [41]:
#extend
l.extend([56,34,21])
l

[[1, 2, 3, 4, 5], 'anu', True, 54, 45, 'varsha', 5, 4, 3, 2, 56, 34, 21]

In [43]:
#index (out will be the first index)
l6=[1,2,3,4,5,6,7,8,6,6]
l6.index(6)

5

In [46]:
#insert ( is going to ask where you added the element)
#append
l7=[1,2,3,4,5]
l7.append([65])
l7

[1, 2, 3, 4, 5, [65]]

In [47]:
#insert
l7.insert(1,[6,7,8])
l7

[1, [6, 7, 8], 2, 3, 4, 5, [65]]

In [49]:
l7.insert(0,[7,8,9])
l7

[[7, 8, 9], 1, [6, 7, 8], 2, 3, 4, 5, [65]]

In [51]:
#remove
l5

[3, 2, 3, 4, 3, 3]

In [54]:
l5.remove(2)
l5

[4, 3, 3]

In [57]:
#replace
l5
l5[2]="varsha"
l5

[4, 3, 'varsha']

In [58]:
#replace string
s="varsha"
s[2]="z"
s

<class 'TypeError'>: 'str' object does not support item assignment